<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="images/journal-bookmark-fill.svg" height="30" />Blog Space</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Friends</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          style="width: 10em"
          type="submit"
          data-bs-target="#modalSheet"
        >
          New Post
        </button>
      </form>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="modalSheet"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Title"
        />
        <input
          type="text"
          class="form-control"
          name="author"
          placeholder="Author"
        />
        <textarea
          type=""
          class="form-control"
          name="post"
          placeholder="Start typing here..."
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>
