.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.post-form {
  width: 45rem;
  padding: 2em;
  border: 2px solid gray;
  border-radius: 16px;
}

.posts {
  padding: 3em;
}
